/*
!.gitignore
!LICENSE
!*.md
!*.dat
!*.codedocs

# Code folder 
!/ichnos_code
/ichnos_code/*
!/ichnos_code/*.h
!/ichnos_code/*.cpp
!/ichnos_code/*.sln
!/ichnos_code/*.vcxproj
!/ichnos_code/*.txt
!/ichnos_code/*.dox

# Houdini folder
!/ichnos_hou
/ichnos_hou/*
!/ichnos_hou/ichnos
/ichnos_hou/ichnos/*
!/ichnos_hou/ichnos/*.dat
!/ichnos_hou/ichnos/*.hipnc
!/ichnos_hou/ichnos/hda
/ichnos_hou/ichnos/hda/*
!/ichnos_hou/ichnos/hda/*.hdanc
!/ichnos_hou/ichnos/examples
/ichnos_hou/ichnos/examples/*
!/ichnos_hou/ichnos/examples/*.dat

# R workspace
!/IchnosRwrkspc
/IchnosRwrkspc/*
!/IchnosRwrkspc/*.Rproj
!/IchnosRwrkspc/*.R





